#farmGroup {
    cursor: pointer;
}

.color, .pointer, #grid, #zoomIn, #zoomOut, #playButton {
    cursor:pointer;
    pointer-events: bounding-box;
}

svg {
    height: auto;
    width: auto;
    max-width: 700px;
    min-width: 300px;
}

.upperRenderEl, .lowerRenderEl {
    position: absolute;
}

.upperRenderEl {
    pointer-events: none;
}

#harvestTotalLarge, #harvestTotalSmall {
    user-select: none;
}