<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <svg  #renderEl xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 700 550">
         <rect
         style="fill:none;stroke:#bebebe;stroke-width:2.93048;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="outerBox"
         width="678.40613"
         height="493.09464"
         x="10.796928"
         y="27.594814"
         rx="9.9925632"
         ry="13.750541" />
         <g
     id="restart"
     transform="translate(178.50201,123.4593)">
    <circle
       style="opacity:1;fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:3.1094;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
       id="circle26832"
       cx="479.03528"
       cy="-64.499557"
       r="25" />
    <g
       id="g29852"
       transform="translate(-0.93661775,55.741179)">
      <path
         style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:3.78101;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
         d="m 495.26426,-124.43206 -4.55382,8.58742 -4.85907,-8.41846 z"
         id="path26834"
         sodipodi:nodetypes="cccc" />
      <path
         style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="path26888"
         sodipodi:type="arc"
         sodipodi:cx="479.29919"
         sodipodi:cy="-120.23956"
         sodipodi:rx="12.512825"
         sodipodi:ry="12.512827"
         sodipodi:start="1.1244848"
         sodipodi:end="6.0545398"
         sodipodi:arc-type="arc"
         d="m 484.70025,-108.95243 a 12.512825,12.512827 0 0 1 -14.25607,-2.44635 12.512825,12.512827 0 0 1 -2.42342,-14.25998 12.512825,12.512827 0 0 1 12.64756,-7.0185 12.512825,12.512827 0 0 1 10.81804,9.60156"
         sodipodi:open="true" />
    </g>
  </g>
         <g id="numberDisplay"
            transform="translate(49.999939)">
        <rect
            style="fill:#ffffff;fill-opacity:1;stroke:#bebebe;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="displayBox"
           width="88.217819"
           height="41.903465"
           x="255.89108"
           y="5.8811884"
           ry="6.565558" />
        <text
           xml:space="preserve"
           style="font-weight:600;font-size:14.8167px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';stroke-width:0.264583"
           x="299.21472"
           y="32.352142"
           id="num"><tspan
             sodipodi:role="line"
             id="tspan4252"
             style="font-size:14.8167px;stroke-width:0.264583"
             x="299.21472"
             y="32.352142">0</tspan></text>
      </g>
      <!--<path
         sodipodi:type="star"
         style="fill:#3c78d8;stroke:#000000;stroke-width:6.84446;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="goButton"
         inkscape:flatsided="true"
         sodipodi:sides="3"
         sodipodi:cx="595.55298"
         sodipodi:cy="36.725765"
         sodipodi:r1="122.63139"
         sodipodi:r2="65.31691"
         sodipodi:arg1="2.0946857"
         sodipodi:arg2="3.1418833"
         inkscape:rounded="0"
         inkscape:randomized="0"
         d="m 534.20642,142.90984 0.0617,-212.40379 183.91622,106.255352 z"
         transform="matrix(0.14610363,0,0,0.14610363,278.24675,21.469757)"
         inkscape:transform-center-x="-4.7715168" /> -->
         <g
         id="goButton"
        transform="translate(17.246231,91.343557)">
        <circle
           style="opacity:1;fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:3.1094;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="goCircle"
           cx="413.03528"
           cy="-64.499557"
           r="25" />
        <path
           style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:6.66164;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
           d="m 406.94359,-72.793015 14.98345,8.293459 -14.98345,8.293456 z"
           id="goTriangle"
           sodipodi:nodetypes="cccc" />
      </g>

      <g id="sliderControls"
      transform="translate(53.999931)">
        <rect
           style="fill:#c9daf8;fill-opacity:1;stroke:none;stroke-width:0.842964;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           id="controllerBackground"
           width="191.87375"
           height="56.974003"
           x="204.06313"
           y="105.6554"
           ry="9.4543991" />
        <rect
           style="fill:#e5edfb;fill-opacity:1;stroke:none;stroke-width:1.46116;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           id="sliderBar"
           width="182.18196"
           height="20"
           x="208.90903"
           y="139.33348"
           ry="10" />
        <g
           id="g1166"
           transform="translate(2.6293945e-6,284.45898)">
          <text
             xml:space="preserve"
             id="maxText"
             style="font-weight:600;font-size:8px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';white-space:pre;shape-inside:url(#rect3952);fill:#3c78d8;fill-opacity:1"
             transform="translate(383.23834,-132.1455)"><tspan
               x="0"
               y="0"
               id="maxTextInner">0</tspan></text>
          <text
             xml:space="preserve"
             id="minText"
             style="font-weight:600;font-size:8px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';white-space:pre;shape-inside:url(#rect3952-1);fill:#3c78d8;fill-opacity:1"
             transform="translate(211.59367,-132.1455)"><tspan
               x="0"
               y="0"
               id="minTextInner">0</tspan></text>
        </g>
        <g
           id="buttons"
           transform="translate(195.9765,-5.3520234)">
          <g
             id="smallDec"
             val="-1">
            <rect
               style="fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:0.802577;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect1216"
               width="20"
               height="20"
               x="70.326515"
               y="114.93417"
               ry="10" />
            <g
               aria-label="-1"
               id="text9162"
               style="font-weight:600;font-size:12.7px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';fill:#ffffff;stroke-width:0.264583"
               transform="translate(57.393989,0.26262247)">
              <path
                 d="m 23.307176,124.01749 v 1.4986 h -5.3848 v -1.4986 z"
                 id="path6337" />
              <path
                 d="m 24.881978,121.68069 v -1.6383 h 3.0607 v 9.2583 h -1.8288 v -7.62 z"
                 id="path6339" />
            </g>
          </g>
          <g
             id="largeDec"
             val="-10">
            <rect
               style="fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:1.13501;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect1216-7"
               width="40"
               height="20"
               x="12.932528"
               y="115.00823"
               ry="10" />
            <g
               aria-label="-10"
               id="text16348"
               style="font-weight:bold;font-size:12.7px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Bold';fill:#ffffff;stroke-width:0.264583"
               transform="translate(-44.060659,0.26262231)">
              <path
                 d="m 73.062539,124.18047 v 1.4986 h -5.3848 v -1.4986 z"
                 style="font-weight:600;-inkscape-font-specification:'poppins Semi-Bold'"
                 id="path6363" />
              <path
                 d="m 74.637341,121.84367 v -1.6383 h 3.0607 v 9.2583 h -1.8288 v -7.62 z"
                 style="font-weight:600;-inkscape-font-specification:'poppins Semi-Bold'"
                 id="path6365" />
              <path
                 d="m 79.450634,124.71387 q 0,-2.1971 0.7874,-3.4417 0.8001,-1.2446 2.6416,-1.2446 1.8415,0 2.6289,1.2446 0.8001,1.2446 0.8001,3.4417 0,2.2098 -0.8001,3.4671 -0.7874,1.2573 -2.6289,1.2573 -1.8415,0 -2.6416,-1.2573 -0.7874,-1.2573 -0.7874,-3.4671 z m 5.1054,0 q 0,-0.9398 -0.127,-1.5748 -0.1143,-0.6477 -0.4826,-1.0541 -0.3556,-0.4064 -1.0668,-0.4064 -0.7112,0 -1.0795,0.4064 -0.3556,0.4064 -0.4826,1.0541 -0.1143,0.635 -0.1143,1.5748 0,0.9652 0.1143,1.6256 0.1143,0.6477 0.4826,1.0541 0.3683,0.3937 1.0795,0.3937 0.7112,0 1.0795,-0.3937 0.3683,-0.4064 0.4826,-1.0541 0.1143,-0.6604 0.1143,-1.6256 z"
                 style="font-weight:600;-inkscape-font-specification:'poppins Semi-Bold'"
                 id="path6367" />
            </g>
          </g>
          <g
             id="largeInc"
             val="10">
            <rect
               style="fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:1.13501;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect1216-7-5"
               width="40"
               height="20"
               x="155.11449"
               y="115.35304"
               ry="10" />
            <g
               aria-label="+10"
               id="text19608"
               style="font-weight:600;font-size:12.7px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';fill:#ffffff;stroke-width:0.264583"
               transform="translate(44.060648,1.0504888)">
              <path
                 d="m 127.7074,125.2741 h -2.4003 v 2.4638 h -1.6764 v -2.4638 h -2.4003 v -1.5494 h 2.4003 v -2.4638 h 1.6764 v 2.4638 h 2.4003 z"
                 id="path6391" />
              <path
                 d="m 129.206,121.4006 v -1.6383 h 3.0607 v 9.2583 h -1.8288 v -7.62 z"
                 id="path6393" />
              <path
                 d="m 134.01929,124.2708 q 0,-2.1971 0.7874,-3.4417 0.8001,-1.2446 2.6416,-1.2446 1.8415,0 2.6289,1.2446 0.8001,1.2446 0.8001,3.4417 0,2.2098 -0.8001,3.4671 -0.7874,1.2573 -2.6289,1.2573 -1.8415,0 -2.6416,-1.2573 -0.7874,-1.2573 -0.7874,-3.4671 z m 5.1054,0 q 0,-0.9398 -0.127,-1.5748 -0.1143,-0.6477 -0.4826,-1.0541 -0.3556,-0.4064 -1.0668,-0.4064 -0.7112,0 -1.0795,0.4064 -0.3556,0.4064 -0.4826,1.0541 -0.1143,0.635 -0.1143,1.5748 0,0.9652 0.1143,1.6256 0.1143,0.6477 0.4826,1.0541 0.3683,0.3937 1.0795,0.3937 0.7112,0 1.0795,-0.3937 0.3683,-0.4064 0.4826,-1.0541 0.1143,-0.6604 0.1143,-1.6256 z"
                 id="path6395" />
            </g>
          </g>
          <g
             id="smallInc"
             val="1">
            <rect
               style="fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:0.802577;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect1216-2"
               width="20"
               height="20"
               x="117.7205"
               y="114.74561"
               ry="10" />
            <g
               aria-label="+1"
               id="text20888"
               style="font-weight:bold;font-size:12.7px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Bold';fill:#ffffff;stroke-width:0.264583"
               transform="translate(-57.393986)">
              <path
                 d="m 186.07333,125.62826 h -2.4003 v 2.4638 h -1.6764 v -2.4638 h -2.4003 v -1.5494 h 2.4003 v -2.4638 h 1.6764 v 2.4638 h 2.4003 z"
                 style="font-weight:600;-inkscape-font-specification:'poppins Semi-Bold'"
                 id="path6419" />
              <path
                 d="m 187.57193,121.75476 v -1.6383 h 3.0607 v 9.2583 h -1.8288 v -7.62 z"
                 style="font-weight:600;-inkscape-font-specification:'poppins Semi-Bold'"
                 id="path6421" />
            </g>
          </g>
        </g>
        <rect
           style="fill:#3c78d8;fill-opacity:1;stroke:none;stroke-width:1.09866;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           id="slider"
           width="24.686497"
           height="15"
           x="209.05663"
           y="141.83348"
           ry="7.5" />
      </g> 
      <g id="hundred"
       transform="translate(-125.86802,-64.785316)"
       style="opacity:0">
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2154"
         transform="translate(125.86802,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2156"
         transform="translate(125.86802,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2158"
         transform="translate(125.86802,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2160"
         transform="translate(125.86802,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2162"
         transform="translate(125.86802,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2164"
         transform="translate(125.86802,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2166"
         transform="translate(125.86802,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2168"
         transform="translate(125.86802,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2170"
         transform="translate(125.86802,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2172"
         transform="translate(125.86802,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2174"
         transform="translate(131.27728,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2176"
         transform="translate(131.27728,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2178"
         transform="translate(131.27728,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2180"
         transform="translate(131.27728,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2182"
         transform="translate(131.27728,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2184"
         transform="translate(131.27728,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2186"
         transform="translate(131.27728,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2188"
         transform="translate(131.27728,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2190"
         transform="translate(131.27728,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2192"
         transform="translate(131.27728,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2194"
         transform="translate(136.68654,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2196"
         transform="translate(136.68654,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2198"
         transform="translate(136.68654,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2200"
         transform="translate(136.68654,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2202"
         transform="translate(136.68654,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2204"
         transform="translate(136.68654,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2206"
         transform="translate(136.68654,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2208"
         transform="translate(136.68654,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2210"
         transform="translate(136.68654,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2212"
         transform="translate(136.68654,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2214"
         transform="translate(142.0958,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2216"
         transform="translate(142.0958,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2218"
         transform="translate(142.0958,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2220"
         transform="translate(142.0958,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2222"
         transform="translate(142.0958,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2224"
         transform="translate(142.0958,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2226"
         transform="translate(142.0958,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2228"
         transform="translate(142.0958,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2230"
         transform="translate(142.0958,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2232"
         transform="translate(142.0958,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2234"
         transform="translate(147.50505,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2236"
         transform="translate(147.50505,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2238"
         transform="translate(147.50505,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2240"
         transform="translate(147.50505,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2242"
         transform="translate(147.50505,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2244"
         transform="translate(147.50505,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2246"
         transform="translate(147.50505,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2248"
         transform="translate(147.50505,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2250"
         transform="translate(147.50505,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2252"
         transform="translate(147.50505,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2254"
         transform="translate(152.91432,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2256"
         transform="translate(152.91432,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2258"
         transform="translate(152.91432,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2260"
         transform="translate(152.91432,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2262"
         transform="translate(152.91432,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2264"
         transform="translate(152.91432,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2266"
         transform="translate(152.91432,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2268"
         transform="translate(152.91432,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2270"
         transform="translate(152.91432,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2272"
         transform="translate(152.91432,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2274"
         transform="translate(158.32358,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2276"
         transform="translate(158.32358,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2278"
         transform="translate(158.32358,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2280"
         transform="translate(158.32358,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2282"
         transform="translate(158.32358,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2284"
         transform="translate(158.32358,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2286"
         transform="translate(158.32358,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2288"
         transform="translate(158.32358,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2290"
         transform="translate(158.32358,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2292"
         transform="translate(158.32358,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2294"
         transform="translate(163.73284,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2296"
         transform="translate(163.73284,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2298"
         transform="translate(163.73284,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2300"
         transform="translate(163.73284,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2302"
         transform="translate(163.73284,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2304"
         transform="translate(163.73284,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2306"
         transform="translate(163.73284,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2308"
         transform="translate(163.73284,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2310"
         transform="translate(163.73284,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2312"
         transform="translate(163.73284,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2314"
         transform="translate(169.14211,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2316"
         transform="translate(169.14211,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2318"
         transform="translate(169.14211,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2320"
         transform="translate(169.14211,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2322"
         transform="translate(169.14211,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2324"
         transform="translate(169.14211,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2326"
         transform="translate(169.14211,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2328"
         transform="translate(169.14211,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2330"
         transform="translate(169.14211,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2332"
         transform="translate(169.14211,112.41018)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2334"
         transform="translate(174.55137,64.785316)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2336"
         transform="translate(174.55137,70.076986)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2338"
         transform="translate(174.55137,75.368655)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2340"
         transform="translate(174.55137,80.660325)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2342"
         transform="translate(174.55137,85.951984)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2344"
         transform="translate(174.55137,91.243604)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2346"
         transform="translate(174.55137,96.535224)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2348"
         transform="translate(174.55137,101.82687)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2350"
         transform="translate(174.55137,107.11852)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2352"
         transform="translate(174.55137,112.41018)" />
    </g>
    <g id="ten"
       transform="translate(-64.244891,-16.760616)"
       style="opacity:0">
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2134"
         transform="translate(64.244891,16.760616)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2136"
         transform="translate(64.244891,22.052286)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2138"
         transform="translate(64.244891,27.343956)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2140"
         transform="translate(64.244891,32.635625)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2142"
         transform="translate(64.244891,37.927295)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2144"
         transform="translate(64.244891,43.218965)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2146"
         transform="translate(64.244891,48.510634)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2148"
         transform="translate(64.244891,53.802304)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2150"
         transform="translate(64.244891,59.093974)" />
      <use
         x="0"
         y="0"
         xlink:href="#meteor"
         id="use2152"
         transform="translate(64.244891,64.385643)" />
    </g>
    <!--<g id="meteor"
       transform="matrix(0.51917636,0,0,0.5191946,-117.73165,-89.837854)"
       style="fill:#7b3b89;fill-opacity:0.01;stroke:#b4b4b4;stroke-width:0.962516;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:1.92503, 1.92503;stroke-dashoffset:0;stroke-opacity:1">
      <path
         style="fill:#c8b7b7;fill-opacity:1;stroke:none;stroke-width:0.260787px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 119.84592,175.34778 c 0.65451,-1.49016 2.64963,-2.30694 4.26245,-2.31466 1.02385,-0.005 1.70847,1.28033 2.71955,1.44343 0.5114,0.0824 1.06607,-0.48751 1.532,-0.2611 0.95526,0.46418 1.52012,2.80021 1.52012,2.80021 0,0 -0.99774,1.9665 -1.82454,2.64923 -0.60828,0.50229 -1.54924,0.45673 -2.1678,0.94944 -0.65793,0.52408 -0.71596,1.76236 -1.51062,2.03011 -1.23327,0.41551 -2.95829,-0.0529 -3.74537,-1.09884 -0.62659,-0.83264 0.0929,-2.10062 -0.0383,-3.13836 -0.13186,-1.04197 -1.1691,-2.09938 -0.74742,-3.05946 z"
         id="path2133"
         sodipodi:nodetypes="aaaacaaaaaaa" />
      <path
         style="fill:#ac9393;fill-opacity:0.902439;stroke:none;stroke-width:0.260787px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 127.95705,177.25954 c 0.31717,-0.62783 -1.04964,-3.43207 0.26355,-2.93143 0.45246,0.17248 0.0807,-0.12433 0.13932,-0.11266 1.04158,0.2076 1.52012,2.80021 1.52012,2.80021 0,0 -0.99774,1.9665 -1.82454,2.64923 -0.60828,0.50229 -1.54924,0.45673 -2.1678,0.94944 -0.65793,0.52408 -0.71596,1.76236 -1.51062,2.03011 -1.23327,0.41552 -2.92698,-0.0874 -3.74537,-1.09884 -0.27947,-0.34539 -0.33522,-1.11023 -0.10007,-1.32913 3.57217,-0.12686 4.91852,1.30673 7.42541,-2.95693 z"
         id="path2133-5"
         sodipodi:nodetypes="csacaaaacc" />
      <ellipse
         style="opacity:0.7;fill:#ac9393;fill-opacity:0.67184;stroke:none;stroke-width:0.312821;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="path8657-4-7"
         cx="123.98112"
         cy="178.57227"
         rx="1.5630589"
         ry="1.4441329" />
      <ellipse
         style="opacity:0.7;fill:#ac9393;fill-opacity:0.67184;stroke:none;stroke-width:0.209727;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="path8657-4-7-6"
         cx="125.18846"
         cy="175.32982"
         rx="1.0046998"
         ry="1.009869" />
      <ellipse
         style="opacity:0.7;fill:#ac9393;fill-opacity:0.67184;stroke:none;stroke-width:0.259176;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="path8657-4-7-6-3"
         cx="121.28471"
         cy="175.66086"
         rx="1.2735393"
         ry="1.2166613" />
      <circle
         style="fill:#e3dbdb;fill-opacity:0.751663;stroke:none;stroke-width:0.442322;stroke-miterlimit:4;stroke-dasharray:0.884643, 0.884643;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860"
         cx="122.11671"
         cy="176.15715"
         r="0.75" />
      <circle
         style="fill:#241c1c;fill-opacity:0.751663;stroke:none;stroke-width:0.339113;stroke-miterlimit:4;stroke-dasharray:0.678226, 0.678226;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-2"
         cx="122.07404"
         cy="176.06288"
         r="0.57499999" />
      <circle
         style="fill:#e3dbdb;fill-opacity:0.751663;stroke:none;stroke-width:0.353858;stroke-miterlimit:4;stroke-dasharray:0.707714, 0.707714;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-26"
         cx="125.4541"
         cy="178.82776"
         r="0.60000002" />
      <circle
         style="fill:#241c1c;fill-opacity:0.751663;stroke:none;stroke-width:0.27129;stroke-miterlimit:4;stroke-dasharray:0.542581, 0.542581;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-2-3"
         cx="125.41997"
         cy="178.75233"
         r="0.45999998" />
      <circle
         style="fill:#e3dbdb;fill-opacity:0.751663;stroke:none;stroke-width:0.353858;stroke-miterlimit:4;stroke-dasharray:0.707714, 0.707714;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-26-9"
         cx="126.00412"
         cy="176.46323"
         r="0.60000002" />
      <circle
         style="fill:#241c1c;fill-opacity:0.751663;stroke:none;stroke-width:0.27129;stroke-miterlimit:4;stroke-dasharray:0.542581, 0.542581;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-2-3-05"
         cx="125.96999"
         cy="176.3878"
         r="0.45999998" />
      <circle
         style="fill:#e3dbdb;fill-opacity:0.751663;stroke:none;stroke-width:0.353858;stroke-miterlimit:4;stroke-dasharray:0.707714, 0.707714;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-26-0"
         cx="-192.57072"
         cy="93.753235"
         r="0.60000002"
         transform="rotate(-99.436924)" />
      <circle
         style="fill:#241c1c;fill-opacity:0.751663;stroke:none;stroke-width:0.27129;stroke-miterlimit:4;stroke-dasharray:0.542581, 0.542581;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-2-3-0"
         cx="-192.60486"
         cy="93.677826"
         r="0.45999998"
         transform="rotate(-99.436924)" />
      <circle
         style="fill:#e3dbdb;fill-opacity:0.751663;stroke:none;stroke-width:0.501298;stroke-miterlimit:4;stroke-dasharray:1.0026, 1.0026;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-6"
         cx="122.75093"
         cy="179.02962"
         r="0.84999996" />
      <circle
         style="fill:#241c1c;fill-opacity:0.751663;stroke:none;stroke-width:0.384328;stroke-miterlimit:4;stroke-dasharray:0.768656, 0.768656;stroke-dashoffset:0;stroke-opacity:1"
         id="path2860-2-0"
         cx="122.70257"
         cy="178.92278"
         r="0.65166664" />
      <path
         d="m 127.63907,174.43663 c 0.008,0.13047 0.17235,0.3313 0.2905,0.40132 0.69028,0.40791 1.06754,1.13098 1.11716,1.94989 0.0437,0.72125 -0.4805,1.33433 -0.99285,1.73868 -0.0863,0.0681 -0.74685,0.67269 -0.74005,0.78504 0.019,0.31331 0.34646,0.65477 0.58645,0.46539 0.68409,-0.53919 2.09452,-2.01287 2.03617,-2.97575 -0.0661,-1.09094 -0.59535,-2.01714 -1.51477,-2.56214 -0.26831,-0.15929 -0.8006,-0.0992 -0.78261,0.19757"
         style="fill:#6c5353;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.195845"
         id="path1150-6"
         sodipodi:nodetypes="ccssscscc" />
      
    </g> -->
    <g
     id="meteor"
     transform="translate(-6.3500003)">
    <path
       d="M.052 1.202C.392.428 1.428.004 2.265 0c.532-.003.887.665 1.412.749.266.043.553-.253.795-.136.496.241.789 1.454.789 1.454s-.518 1.021-.947 1.375c-.316.261-.804.237-1.125.493-.342.272-.372.915-.784 1.054-.64.216-1.536-.027-1.945-.571-.325-.432.048-1.091-.02-1.629s-.607-1.09-.388-1.588z"
       fill="#c8b7b7"
       id="path44869" />
    <path
       d="M4.263 2.194C4.428 1.868 3.718.412 4.4.672c.235.09.042-.065.072-.058.541.108.789 1.454.789 1.454s-.518 1.021-.947 1.375c-.316.261-.804.237-1.125.493-.342.272-.372.915-.784 1.054-.64.216-1.52-.045-1.945-.571-.145-.179-.174-.576-.052-.69 1.855-.066 2.554.678 3.855-1.535z"
       fill="#b49c9c"
       id="path44871" />
    <g
       fill="#b59b9b"
       id="g44877">
      <ellipse
         cx="2.199"
         cy="2.876"
         rx=".812"
         ry=".75"
         id="ellipse44873" />
      <ellipse
         cx="2.826"
         cy="1.192"
         rx=".522"
         ry=".524"
         id="ellipse44875" />
    </g>
    <ellipse
       cx=".799"
       cy="1.364"
       rx=".661"
       ry=".632"
       fill="#b5a4a4"
       id="ellipse44879" />
    <circle
       cx="1.231"
       cy="1.622"
       r=".389"
       fill="#dad2d2"
       id="circle44881" />
    <circle
       cx="1.209"
       cy="1.573"
       r=".299"
       fill="#4f4546"
       id="circle44883" />
    <circle
       cx="2.964"
       cy="3.008"
       r=".312"
       fill="#dad2d2"
       id="circle44885" />
    <circle
       cx="2.946"
       cy="2.969"
       r=".239"
       fill="#4f4546"
       id="circle44887" />
    <circle
       cx="3.25"
       cy="1.781"
       r=".312"
       fill="#dad2d2"
       id="circle44889" />
    <circle
       cx="3.232"
       cy="1.742"
       r=".239"
       fill="#4f4546"
       id="circle44891" />
    <g
       transform="matrix(-.163956 -.986468 .986466 -.163967 2.903 3.501)"
       id="g44897">
      <circle
         cx="2.764"
         cy="-.213"
         r=".312"
         fill="#dad2d2"
         id="circle44893" />
      <circle
         cx="2.746"
         cy="-.252"
         r=".239"
         fill="#4f4546"
         id="circle44895" />
    </g>
    <circle
       cx="1.561"
       cy="3.113"
       r=".441"
       fill="#dad2d2"
       id="circle44899" />
    <circle
       cx="1.535"
       cy="3.058"
       r=".338"
       fill="#4f4546"
       id="circle44901" />
    <path
       d="M4.098.728c.004.068.089.172.151.208.358.212.554.587.58 1.012.023.374-.249.693-.515.903-.045.035-.388.349-.384.408.01.163.18.34.304.242.355-.28 1.087-1.045 1.057-1.545-.034-.566-.309-1.047-.786-1.33-.139-.083-.416-.052-.406.103"
       fill="#6c5353"
       id="path44903" />
  </g>
      <g id="drawnElements">
      </g>
     </svg>   
    </body>
</html>

