<html>
    <head>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
         </style>
       
    </head>
    <body>
      <div id="container">

  
<div>
    <svg #renderEl
      
       viewBox="0 0 404 404"
       id="svg3135"
       version="1.1"
       inkscape:version="1.1.1 (c3084ef, 2021-09-22)"
       sodipodi:docname="new100grid.svg"
       xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
       xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:dc="http://purl.org/dc/elements/1.1/">
      
    </svg>
    </div> 

<div>
   
   <svg
   class="menu"
   #menuEl
     
      viewBox="0 0 106.89167 26.458334"
      version="1.1"
      id="svg7055"
      inkscape:version="1.1.1 (c3084ef, 2021-09-22)"
      sodipodi:docname="gridPaletteOverlap.svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
      <defs
      id="defs7052" />
   <g
      inkscape:label="Layer 1"
      inkscape:groupmode="layer"
      id="layer1"
      transform="translate(0,-270.54165)">
     <rect
        style="fill:none;fill-opacity:0.0745098;stroke:#bebebe;stroke-width:0.429855;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="selectCounterB"
        width="39.257645"
        height="17.758316"
        x="40.186855"
        y="278.93454"
        ry="0.055838492" />
     <rect
        style="fill:none;fill-opacity:0.14902;stroke:#bebebe;stroke-width:0.429855;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="selectCounterA"
        width="39.257645"
        height="17.758316"
        x="0.47951081"
        y="278.93454"
        ry="0.055838492" />
     <ellipse
        style="fill:#11b8cc;fill-opacity:0.325942;stroke:none;stroke-width:0.79375;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="counterA"
        cx="20.108334"
        cy="287.81369"
        rx="6.1950269"
        ry="6.1953444" />
     <g
        id="g1745"
        transform="translate(-17.059204,1.5125327)">
       <ellipse
          style="fill:#ffffff;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:round"
          id="path1643"
          cx="76.874878"
          cy="286.30118"
          rx="6.3994222"
          ry="6.4486485" />
       <ellipse
          style="fill:#ff2762;fill-opacity:0.0509978;stroke:#ff2c68;stroke-width:0.794;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          id="counterB"
          cx="76.874878"
          cy="286.30118"
          rx="6.1950269"
          ry="6.1953444" />
     </g>
     <g
        id="clearButton">
       <rect
          style="fill:#4d4d4d;stroke:none;stroke-width:1.22832;stroke-linecap:round;stroke-linejoin:round"
          id="rect1849"
          width="21.835598"
          height="11.679506"
          x="82.51825"
          y="281.76584"
          ry="1.9778477" />
       <g
          aria-label="CLEAR"
          id="text2087"
          style="font-weight:600;font-size:4.99999px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins Semi-Bold';stroke-width:0.264583"
          transform="translate(-1.6578525,0.99077677)">
         <path
            d="m 87.517392,286.61731 q 0,-0.515 0.229999,-0.92 0.235,-0.40999 0.634999,-0.63499 0.404999,-0.23 0.904998,-0.23 0.584999,0 1.024998,0.3 0.439999,0.3 0.614999,0.82999 h -0.804999 q -0.119999,-0.25 -0.339999,-0.37499 -0.214999,-0.125 -0.499999,-0.125 -0.304999,0 -0.544999,0.145 -0.234999,0.13999 -0.369999,0.39999 -0.13,0.26 -0.13,0.61 0,0.345 0.13,0.61 0.135,0.26 0.369999,0.405 0.24,0.14 0.544999,0.14 0.285,0 0.499999,-0.125 0.22,-0.13 0.339999,-0.38 h 0.804999 q -0.175,0.535 -0.614999,0.835 -0.434999,0.295 -1.024998,0.295 -0.499999,0 -0.904998,-0.225 -0.399999,-0.23 -0.634999,-0.635 -0.229999,-0.405 -0.229999,-0.92 z"
            style="fill:#ffffff"
            id="path2617" />
         <path
            d="m 92.225273,287.81231 h 1.149998 v 0.555 h -1.849997 v -3.48999 h 0.699999 z"
            style="fill:#ffffff"
            id="path2619" />
         <path
            d="m 94.52019,285.44232 v 0.87499 h 1.174998 v 0.555 H 94.52019 v 0.925 h 1.324997 v 0.57 h -2.024996 v -3.49499 h 2.024996 v 0.57 z"
            style="fill:#ffffff"
            id="path2621" />
         <path
            d="m 98.616432,287.70231 h -1.389997 l -0.229999,0.665 h -0.734999 l 1.254998,-3.49499 h 0.814998 l 1.254997,3.49499 h -0.739998 z m -0.189999,-0.56 -0.504999,-1.46 -0.504999,1.46 z"
            style="fill:#ffffff"
            id="path2623" />
         <path
            d="m 101.86041,288.36731 -0.77,-1.36 h -0.33 v 1.36 h -0.7 v -3.48999 h 1.31 q 0.405,0 0.69,0.145 0.285,0.14 0.425,0.385 0.145,0.24 0.145,0.53999 0,0.345 -0.2,0.625 -0.2,0.275 -0.595,0.38 l 0.835,1.415 z m -1.1,-1.885 h 0.585 q 0.285,0 0.425,-0.135 0.14,-0.14 0.14,-0.385 0,-0.24 -0.14,-0.36999 -0.14,-0.135 -0.425,-0.135 h -0.585 z"
            style="fill:#ffffff"
            id="path2625" />
       </g>
     </g>
   </g>
 </svg>
 
   

</div>
</div>
</body>
</html>