<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
        <script src="./gsap-shockingly-green/minified/MorphSVGPlugin.min.js"></script>
        <svg #renderEl
        xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 1000 1000">
            <path
            d="M 0,6.177756 V 0 H 11.541389 V 34.911506 H 4.64529 V 6.177756 Z"
            id="one"
            style="font-weight:600;font-size:181px;line-height:1.25;font-family:poppins;-inkscape-font-specification:'poppins Semi-Bold';white-space:pre;stroke-width:0.264583;opacity: 0;" />
        </svg>
    </body>
</html>