<div class="lowerRenderEl" id="lowerRender" style="width: 100%; height: 100%; background-color: rgb(0, 185, 90)"></div>
<svg #upperRenderEl class="upperRenderEl" viewBox="0 0 500 500">
   <g id="zoomControls">
      <rect
         style="fill:#d3e7c9d4;fill-opacity:1;stroke:none;stroke-width:0.711629;stroke-linecap:round;stroke-linejoin:round"
         id="rect846" width="92.069992" height="29.999998" x="22.060274" y="18.120941" rx="15.171077" ry="15.000001" />
      <g id="zoomIn">
         <circle
            style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="path1401" cx="44.413963" cy="30.14522" r="8.1919394" />
         <g id="g1992" transform="matrix(1.9038747,0,0,1.9038747,-141.37746,-43.963347)">
            <path
               style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 95.358497,38.925129 h 4.45491" id="path1700" />
            <path
               style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 97.585947,36.697672 v 4.454913" id="path1700-1" />
         </g>
         <path
            style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 51.274897,36.506137 7.778165,7.77817" id="path1700-1-6" />
      </g>
      <g id="zoomOut">
         <circle
            style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="path1401-3" cx="84.591507" cy="29.921717" r="8.1919394" />
         <path
            style="fill:none;stroke:#000000;stroke-width:1.90387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 80.350704,29.921718 h 8.48159" id="path1700-6" />
         <path
            style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 91.452431,36.282632 7.778166,7.77817" id="path1700-1-6-8" />
      </g>
   </g>
</svg>