.upperRenderEl, .lowerRenderEl {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.upperRenderEl {
    pointer-events: none;
    bottom: 0px;
}

.lowerRenderEl {
    touch-action: pinch-zoom;
}

#zoomIn, #zoomOut{
    cursor:pointer;
    pointer-events: bounding-box;
}