<div class="lowerRenderEl" id="lowerRender" style="width: 100%; height: 100%; background-color: rgb(0, 185, 90)"></div>
<svg #upperRenderEl class="upperRenderEl" viewBox="0 0 500 500">
   <g id="zoomControls">
      <rect
         style="fill:#c3e7b3;fill-opacity:0.83162218;stroke:none;stroke-width:0.711629;stroke-linecap:round;stroke-linejoin:round"
         id="rect846" width="92.069992" height="29.999998" x="22.060274" y="18.120941" rx="15.171077" ry="15.000001" />
      <g id="zoomIn">
         <rect
            style="fill:#d3e7c9;fill-opacity:0;stroke:none;stroke-width:0.988356;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="rect3743" width="26.908653" height="29" x="34.756187" y="18.620939" rx="1.4268409" ry="0" />
         <circle
            style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="path1401" cx="44.844143" cy="30.004568" r="8.1919394" />
         <g id="g1992" transform="matrix(1.9038747,0,0,1.9038747,-140.94728,-44.103993)">
            <path
               style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 95.358497,38.925129 h 4.45491" id="path1700" />
            <path
               style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 97.585947,36.697672 v 4.454913" id="path1700-1" />
         </g>
         <path
            style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 51.705077,36.365491 7.778165,7.77817" id="path1700-1-6" />
      </g>
      <g id="zoomOut">
         <rect
            style="fill:#d3e7c9;fill-opacity:0;stroke:none;stroke-width:0.988356;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            id="rect3743-9" width="26.908653" height="29" x="74.455864" y="18.620941" rx="1.4268409" ry="0" />
         <g id="g4061" transform="translate(2.77363,-38.428077)">
            <circle
               style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path1401-3" cx="81.770195" cy="68.432655" r="8.1919394" />
            <path
               style="fill:none;stroke:#000000;stroke-width:1.90387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 77.52939,68.432655 h 8.48159" id="path1700-6" />
            <path
               style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 88.631117,74.793569 7.778166,7.77817" id="path1700-1-6-8" />
         </g>
      </g>
   </g>
</svg>