#farmGroup {
    cursor: pointer;
}

svg {
    height: auto;
    width: auto;
    min-width: 300px;
}

.upperRenderEl, .lowerRenderEl {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.upperRenderEl {
    pointer-events: none;
}

.pointer, .grid, #zoomIn, #zoomOut, #playButton, #pan {
    cursor:pointer;
    pointer-events: all;
}

#harvestTotalText{
    user-select: none;
}

.grid rect, .pointer circle, #playButton circle, .circleFilter {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
}

.grid:hover rect, .pointer:hover circle, #playButton:hover circle, #up:hover .direction,  #left:hover .direction,  #right:hover .direction,  #down:hover .direction{
    fill: #c3e7b3 !important;
}

#zoomOut:hover path, #zoomIn:hover path, #zoomOut:hover circle, #zoomIn:hover circle, #up:hover .direction,  #left:hover .direction,  #right:hover .direction,  #down:hover .direction {
    stroke: #c3e7b3 !important;
}

button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}