.upperSvg{
    position: absolute;
    pointer-events: none; 
  }
  .lowerSvg{
    position: absolute;
  }

  .goBtn {
    background-image: url("https://res.cloudinary.com/duim8wwno/image/upload/v1644246521/SpotlightGoBtn_eqeyvr.svg");
    background-size: cover;
    width: 8%;
    padding-bottom: 8%;
    top: 1%;
    left: 1%;  
    position: absolute;
  }