
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<svg
   viewBox = "0 0 600 600"
   id="svg33931"
   version="1.1"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="tenth-squares.svg"
   inkscape:export-filename="C:\Users\Muhammad Hadi\Dropbox\Knowledge Hook\Language Free Content\place_value_chart.png"
   inkscape:export-xdpi="90"
   inkscape:export-ydpi="90"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:cc="http://creativecommons.org/ns#">
  <defs
     id="defs33933" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(1.0251999e-5,-383.39602)">
    <rect
       style="fill:none;stroke:#b4b4b4;stroke-width:3.0568;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect1254"
       width="594.94318"
       height="543.78687"
       x="2.5284016"
       y="436.37595"
       rx="11.303685"
       ry="11.303683" />
    <rect
       style="fill:#ffffff;stroke:#b4b4b4;stroke-width:3.42463;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect26178"
       width="111.87314"
       height="67.319267"
       x="243.01848"
       y="402.81314"
       rx="7.056047"
       ry="7.056047" />
    <g
       aria-label="155"
       id="outerTxt"
       style="font-weight:600;font-size:47.9192px;line-height:125%;font-family:Poppins;-inkscape-font-specification:'Poppins Semi-Bold';letter-spacing:0px;word-spacing:0px;fill:#24353e;stroke-width:1px"
       transform="matrix(0.88200588,0,0,0.88200588,-8.61387,54.383602)">
      <text
         xml:space="preserve"
         style="font-weight:600;font-size:47.9193px;line-height:1.25;font-family:Poppins;-inkscape-font-specification:'Poppins, Semi-Bold';stroke-width:1.38229px"
         x="303.68185"
         y="450.62344"
         id="innerTxt"><tspan
           sodipodi:role="line"
           id="tspan400"
           x="303.68185"
           y="450.62344"
           style="stroke-width:1.38229px">888</tspan></text>
    </g>
    <g
       id="restart"
       transform="matrix(1.0804508,0,0,1.0804508,-322.21167,504.25618)">
      <circle
         style="opacity:1;fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:3.1094;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="circle26832"
         cx="479.03528"
         cy="-64.499557"
         r="25" />
      <g
         id="g29852"
         transform="translate(-0.93661775,55.741179)">
        <path
           style="fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:3.78101;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
           d="m 495.26426,-124.43206 -4.55382,8.58742 -4.85907,-8.41846 z"
           id="path26834"
           sodipodi:nodetypes="cccc" />
        <path
           style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="path26888"
           sodipodi:type="arc"
           sodipodi:cx="479.29919"
           sodipodi:cy="-120.23956"
           sodipodi:rx="12.512825"
           sodipodi:ry="12.512827"
           sodipodi:start="1.1244848"
           sodipodi:end="6.0545398"
           sodipodi:arc-type="arc"
           d="m 484.70025,-108.95243 a 12.512825,12.512827 0 0 1 -14.25607,-2.44635 12.512825,12.512827 0 0 1 -2.42342,-14.25998 12.512825,12.512827 0 0 1 12.64756,-7.0185 12.512825,12.512827 0 0 1 10.81804,9.60156"
           sodipodi:open="true" />
      </g>
    </g>
    <g
       id="add"
       transform="matrix(1.0804508,0,0,1.0804508,-115.02634,506.14287)">
      <circle
         style="opacity:1;fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:3.1094;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="circle620"
         cx="479.03528"
         cy="-64.499557"
         r="25" />
      <g
         id="g1400"
         transform="translate(1.9737233,-0.3462255)">
        <path
           style="fill:none;stroke:#ffffff;stroke-width:5.55324;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
           d="m 477.06155,-73.742209 v 19.177754"
           id="path740"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#ffffff;stroke-width:5.55324;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
           d="M 486.65043,-64.153332 H 467.47268"
           id="path1396"
           sodipodi:nodetypes="cc" />
      </g>
    </g>
    <rect
       style="fill:#4285f4;fill-opacity:1;stroke:none;stroke-width:7.28602;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
       id="fillRect"
       width="15.86"
       height="154.14438"
       x="-20.00001"
       y="383.39603" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(1.0251999e-5,-383.39602)">
     <g
       id="outline"
       transform="matrix(0.64000003,0,0,0.64000003,-5.6468203,418.88856)">
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1678"
         width="3"
         height="241.496"
         x="-277.67908"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1680"
         width="3"
         height="241.496"
         x="-253.31548"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1682"
         width="3"
         height="241.496"
         x="-228.95187"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1684"
         width="3"
         height="241.496"
         x="-204.58829"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1686"
         width="3"
         height="241.496"
         x="-180.22469"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1688"
         width="3"
         height="241.496"
         x="-155.8611"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1690"
         width="3"
         height="241.496"
         x="-131.4975"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1692"
         width="3"
         height="241.496"
         x="-107.1339"
         y="175.13506"
         rx="0"
         ry="0" />
      <rect
         style="fill:#24353e;fill-opacity:1;stroke:none;stroke-width:0.702265;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1694"
         width="3"
         height="241.496"
         x="-82.770309"
         y="175.46858"
         rx="0"
         ry="0" />
      <rect
         style="fill:none;fill-opacity:1;stroke:#24353e;stroke-width:4.81751;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers stroke fill;stop-color:#000000"
         id="rect1696"
         width="245.18248"
         height="245.1825"
         x="-301.2681"
         y="173.51416"
         rx="7.482038"
         ry="7.9408422" />
    </g>
  </g>
</svg>
