<svg #lowerRenderEl class="lowerRenderEl" id="lowerRender" style="width: 100%; height: 100%">
   <defs>
   </defs>
</svg>
<svg #upperRenderEl class="upperRenderEl" viewBox="0 0 500 500">
   <g
   id="ui">
  <rect
     style="fill:#708c98;fill-opacity:1;stroke:none;stroke-width:0.840008;stroke-linecap:round;stroke-linejoin:round"
     id="rect846-2"
     width="128.2854"
     height="29.999998"
     x="280.89389"
     y="241.03307"
     rx="15.148244"
     ry="15.000001" />
  <g
     id="zoomIn"
     transform="translate(258.83361,222.91213)">
    <rect
       style="fill:#d3e7c9;fill-opacity:0;stroke:none;stroke-width:0.988356;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect3743-4"
       width="26.908653"
       height="29"
       x="34.756187"
       y="18.620939"
       rx="1.4268409"
       ry="0" />
    <circle
       style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path1401-8"
       cx="44.844143"
       cy="30.004568"
       r="8.1919394" />
    <g
       id="g1992-0"
       transform="matrix(1.9038747,0,0,1.9038747,-140.94728,-44.103993)">
      <path
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 95.358497,38.925129 h 4.45491"
         id="path1700-43" />
      <path
         style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 97.585947,36.697672 v 4.454913"
         id="path1700-1-1" />
    </g>
    <path
       style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 51.705077,36.365491 7.778165,7.77817"
       id="path1700-1-6-7" />
  </g>
  <g
     id="zoomOut"
     transform="translate(257.1264,222.91213)">
    <rect
       style="fill:#d3e7c9;fill-opacity:0;stroke:none;stroke-width:0.988356;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect3743-9-1"
       width="26.908653"
       height="29"
       x="74.455864"
       y="18.620941"
       rx="1.4268409"
       ry="0" />
    <g
       id="g4061-2"
       transform="translate(2.77363,-38.428077)">
      <circle
         style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:2.47504;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1401-3-3"
         cx="81.770195"
         cy="68.432655"
         r="8.1919394" />
      <path
         style="fill:none;stroke:#000000;stroke-width:1.90387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 77.52939,68.432655 h 8.48159"
         id="path1700-6-3" />
      <path
         style="fill:none;stroke:#000000;stroke-width:3.0462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 88.631117,74.793569 7.778166,7.77817"
         id="path1700-1-6-8-6" />
    </g>
  </g>
  <g
     id="center">
    <g
       id="g4778">
      <g
         id="g4415">
        <path
           style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 370.95123,253.07268 v -8.31571 h 8.09312"
           id="path2170" />
        <path
           style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 393.40735,253.07268 v -8.31571 h -8.09312"
           id="path2170-7" />
        <path
           style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 370.95123,258.99345 v 8.31571 h 8.09312"
           id="path2170-6" />
        <path
           style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 393.40735,258.99345 v 8.31571 h -8.09312"
           id="path2170-7-5" />
      </g>
      <circle
         style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path4186"
         cx="382.17929"
         cy="256.03305"
         r="4" />
    </g>
    <rect
       style="opacity:0;fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.25955;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4594"
       width="22.74045"
       height="23.740452"
       x="370.80905"
       y="244.16284" />
  </g>
</g>
</svg>