.upperRenderEl, .lowerRenderEl {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.upperRenderEl {
    pointer-events: none;
    bottom: 0px;
}

.lowerRenderEl {
    touch-action: pinch-zoom;
}

#zoomIn, #zoomOut, #center {
    cursor: pointer;
    pointer-events: all;
}

#ui rect {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
}

#zoomOut:hover path, #zoomIn:hover path, #zoomOut:hover circle, #zoomIn:hover circle, #center:hover path, #center:hover circle {
    stroke: rgb(185, 199, 204) !important;
}

#center:hover circle {
    fill: rgb(185, 199, 204) !important;

}