<svg #renderEl class="renderEl" viewBox="0 0 500 500">
    <defs>
        <image id="boat" href="https://res.cloudinary.com/dg9cqf9zn/image/upload/v1659466804/barrelsCompressed_lgifrk.svg" height="60px"></image>
        <image id="farm" href="../../assets/farmPlotsRasteredFlowersMorePixel.svg" height="60px"></image>
    </defs>
    <path
    sodipodi:type="star"
    style="fill:#550000;stroke:#000000;stroke-width:4.62623;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    id="next"
    inkscape:flatsided="true"
    sodipodi:sides="3"
    sodipodi:cx="457.66876"
    sodipodi:cy="413.43015"
    sodipodi:r1="44.245945"
    sodipodi:r2="22.122972"
    sodipodi:arg1="-1.5707963"
    sodipodi:arg2="-0.52359878"
    inkscape:rounded="-3.469447e-18"
    inkscape:randomized="0"
    d="m 457.66876,369.1842 38.31811,66.36892 -76.63622,0 z"
    inkscape:transform-center-y="-4.8334367"
    transform="matrix(0.38187201,0,0,0.43696087,295.82917,259.60407)" />
 <path
    sodipodi:type="star"
    style="fill:#550000;stroke:#000000;stroke-width:4.62623;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    id="previous"
    inkscape:flatsided="true"
    sodipodi:sides="3"
    sodipodi:cx="457.66876"
    sodipodi:cy="413.43015"
    sodipodi:r1="44.245945"
    sodipodi:r2="22.122972"
    sodipodi:arg1="-1.5707963"
    sodipodi:arg2="-0.52359878"
    inkscape:rounded="-3.469447e-18"
    inkscape:randomized="0"
    inkscape:transform-center-y="4.8334366"
    transform="matrix(0.38187201,0,0,-0.43696087,295.82917,647.49552)"
    d="m 457.66876,369.1842 38.31811,66.36892 -76.63622,0 z" />
</svg>