<svg #renderEl class="renderEl" viewBox="0 0 500 500">
    <g id="fractionDrag"></g>
    <g id="fractionComparison"></g>
    <g
       id="playButton">
      <circle
         style="fill:#c47d7d;fill-opacity:1;stroke:none;stroke-width:13.3104;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
         id="ellipse3577"
         cx="463.46854"
         cy="37.152184"
         r="26.408081" />
      <path
         sodipodi:type="star"
         style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
         id="path11803"
         inkscape:flatsided="true"
         sodipodi:sides="3"
         sodipodi:cx="462.23074"
         sodipodi:cy="36.320457"
         sodipodi:r1="13.661939"
         sodipodi:r2="6.8309693"
         sodipodi:arg1="0"
         sodipodi:arg2="1.0471976"
         inkscape:rounded="0"
         inkscape:randomized="0"
         inkscape:transform-center-x="-3.415488"
         inkscape:transform-center-y="-6.7144008e-06"
         transform="matrix(1.0033291,0,0,1.0033291,-1.4802839,0.71081439)"
         d="M 475.89268,36.320457 455.39977,48.152043 V 24.488872 Z" />
    </g>
    <g
       id="controls">
      <path
         id="rect846"
         style="fill:#c47d7d;stroke-width:0.864673;stroke-linecap:round;stroke-linejoin:round"
         d="m 212.49837,455.51749 h 75.00328 c 10.21234,0 18.43383,8.12877 18.43383,18.22595 0,10.09718 -8.22149,18.22596 -18.43383,18.22596 h -75.00328 c -10.21234,0 -18.43383,-8.12878 -18.43383,-18.22596 0,-10.09718 8.22149,-18.22595 18.43383,-18.22595 z" />
      <g
         id="increase"
         transform="matrix(3.7921099,0,0,3.7921099,-37.414378,154.20482)">
        <path
           id="rect1665"
           style="fill:#c47d7d;stroke-width:0.711209;stroke-linecap:round;stroke-linejoin:round;visibility: hidden;"
           d="m 64.901596,79.633865 h 9.260417 v 9.260417 h -9.260417 z" />
        <g
           id="g1992"
           transform="matrix(1.1611619,0,0,1.1611619,-43.781285,39.065698)">
          <path
             style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 95.358497,38.925129 h 4.45491"
             id="path1700" />
          <path
             style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 97.585947,36.697672 v 4.454913"
             id="path1700-1" />
        </g>
      </g>
      <g
         id="decrease"
         transform="matrix(3.7921099,0,0,3.7921099,-112.63464,172.51802)">
        <path
           id="rect1665-9"
           style="fill:#c47d7d;stroke-width:0.711209;stroke-linecap:round;stroke-linejoin:round;visibility: hidden;"
           d="m 97.500221,74.804573 h 9.260419 v 9.260417 h -9.260419 z" />
        <path
           style="fill:none;stroke:#000000;stroke-width:1.16115;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="m 99.543993,79.434782 h 5.172877"
           id="path1700-6" />
      </g>
    </g>
    <g
       id="createFraction">
      <path
         style="opacity:0.749543;fill:none;stroke:#595959;stroke-width:3.04015;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 78.330334,25.428812 V 40.515665"
         id="path8500" />
      <circle
         style="fill:#c47d7d;fill-opacity:1;stroke:none;stroke-width:0.68258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1170"
         cx="33.049488"
         cy="14.550515"
         r="4.5505161" />
      <path
         style="fill:#c47d7d;fill-opacity:1;stroke:#c47d7d;stroke-width:0.77134;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="M 33.049483,27.674843 V 14.390495"
         id="path1279" />
      <rect
         style="fill:#ffffff;fill-opacity:1;stroke:#595959;stroke-width:0.68258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect856"
         width="22.752579"
         height="13.651547"
         x="10.341289"
         y="26.146461"
         rx="2.2752581"
         ry="2.2752581" />
      <rect
         style="fill:#ffffff;fill-opacity:1;stroke:#595959;stroke-width:0.68258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect856-8"
         width="22.752579"
         height="13.651547"
         x="33.093868"
         y="26.146461"
         rx="2.2752581"
         ry="2.2752581" />
      <rect
         style="fill:#ffffff;fill-opacity:1;stroke:#595959;stroke-width:0.68258;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect856-56"
         width="22.752579"
         height="13.651547"
         x="55.846443"
         y="26.146461"
         rx="2.2752581"
         ry="2.2752581" />
    </g>
</svg>
