<svg #renderEl class="renderEl" viewBox="0 0 500 500">
    <g id="fraction"></g>
    <g id="playButton">
        <circle
           style="fill:#c47d7d;fill-opacity:1;stroke:none;stroke-width:13.2662;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
           id="ellipse3577" cx="463.4061" cy="36.320457" r="26.320457" />
        <path sodipodi:type="star"
           style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
           id="path11803" inkscape:flatsided="true" sodipodi:sides="3" sodipodi:cx="462.23074" sodipodi:cy="36.320457"
           sodipodi:r1="13.661939" sodipodi:r2="6.8309693" sodipodi:arg1="0" sodipodi:arg2="1.0471976"
           inkscape:rounded="0" inkscape:randomized="0" d="M 475.89268,36.320457 455.39977,48.152043 V 24.488872 Z"
           inkscape:transform-center-x="-3.415488" inkscape:transform-center-y="-6.7144008e-06" />
     </g>
</svg>
