<svg #renderEl class="renderEl" viewBox="0 0 500 500">
    <g id="fractionCollectionGroup"></g>
    <g
       id="controls" style="display: none;">
      <path
         id="rect846"
         style="fill:#595959"
         d="m 18.43383,0 h 75.00328 c 10.21234,0 18.43383,8.12877 18.43383,18.22595 0,10.09718 -8.22149,18.22596 -18.43383,18.22596 H 18.43383 C 8.22149,36.45191 0,28.32313 0,18.22595 0,8.12877 8.22149,0 18.43383,0 Z" />
      <g
         id="decrease">
        <path
           style="fill:none;stroke:#000000;stroke-width:4.40321;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
           d="M 70.127413,18.22596 H 89.743527"
           id="path1700-6" />
        <rect
           style="opacity:0;fill:none;stroke:#000000;stroke-width:1.11029;stroke-linejoin:round"
           id="rect1282"
           width="34.005302"
           height="34.005302"
           x="62.932819"
           y="1.2233064" />
      </g>
      <g
         id="increase">
        <g
           id="g1992"
           transform="matrix(4.4032535,0,0,4.4032535,-397.76022,-153.17125)">
          <path
             style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 95.358497,38.925129 h 4.45491"
             id="path1700" />
          <path
             style="fill:none;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 97.585947,36.697672 v 4.454913"
             id="path1700-1" />
        </g>
        <rect
           style="opacity:0;fill:none;stroke:#000000;stroke-width:1.11029;stroke-linejoin:round"
           id="rect1282-9"
           width="34.005302"
           height="34.005302"
           x="14.932817"
           y="1.2233063" />
      </g>
    </g>
    <g
       id="createFraction">
      <rect
         style="fill:none;stroke:#595959;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2660"
         width="113.42737"
         height="35.972954"
         x="0.2278071"
         y="0.22780685" />
      <path
         style="fill:none;stroke:#595959;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="M 56.941492,0.2175245 V 36.211044"
         id="path3694" />
    </g>
</svg>
