<html>
<body>
    <img class="header" src="assets/index/logo.png" alt="">

    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <div class="cardContainer">
        <mat-card class="card">
            <img mat-card-image src="assets/index/farmgrape.png" alt="Grape Farm Manipulative Screenshot">
            <mat-card-content>
                <mat-card-title>Grape Farm</mat-card-title>
                <p>
                    Decimals
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/farmgrape">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/farmtrailer.png">
            <mat-card-content>
                <mat-card-title>Wheat Farm</mat-card-title>
                <p>
                    Decimals
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/farmtrailer">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/farmtarget.png">
            <mat-card-content>
                <mat-card-title>Farm Target</mat-card-title>
                <p>
                    Decimals
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/farmTarget">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/farmflower.png">
            <mat-card-content>
                <mat-card-title>Flower Farm</mat-card-title>
                <p>
                    Decimals
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/farmflower">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/decompose.png">
            <mat-card-content>
                <mat-card-title>Number Decomposition</mat-card-title>
                <p>
                    Base Ten Blocks, Visual Proof
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decompose">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/decompose2.png">
            <mat-card-content>
                <mat-card-title>Number Decomposition</mat-card-title>
                <p>
                    Base Ten Blocks, Visual Proof
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decompose2">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/decomposeAsteroids.png">
            <mat-card-content>
                <mat-card-title>Number Decomposition</mat-card-title>
                <p>
                    Base Ten Blocks, Visual Proof
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decomposeAsteroids">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/decomposeBoat.png">
            <mat-card-content>
                <mat-card-title>Number Decomposition</mat-card-title>
                <p>
                    Base Ten Blocks, Visual Proof
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decomposeBoat">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/decomposePlanet.png">
            <mat-card-content>
                <mat-card-title>Number Decomposition</mat-card-title>
                <p>
                    Base Ten Blocks, Visual Proof
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decomposePlanet">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/zoom.png">
            <mat-card-content>
                <mat-card-title>Farm Zoom</mat-card-title>
                <p>
                    Explore
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/zoom">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/zoomboat.png">
            <mat-card-content>
                <mat-card-title>Boat Zoom</mat-card-title>
                <p>
                    Explore
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/zoomboat">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/zoomspace.png">
            <mat-card-content>
                <mat-card-title>Space Zoom</mat-card-title>
                <p>
                    Explore
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/zoomspace">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">

            <img mat-card-image class="contain" src="assets/index/colorswitch.png">
            <mat-card-content>
                <mat-card-title>Color Switch</mat-card-title>
                <p>
                    Multiplication Facts
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/colorSwitch">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">

            <img mat-card-image src="assets/index/fraction.png">
            <mat-card-content>
                <mat-card-title>Fraction Workshop</mat-card-title>
                <p>
                    Fractions
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/fraction">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">

            <img mat-card-image class="contain" src="assets/index/fractioncollection.png">
            <mat-card-content>
                <mat-card-title>Fraction Collection Workshop</mat-card-title>
                <p>
                    Fractions
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/fractionCollection">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/planetfactory.png">
            <mat-card-content>
                <mat-card-title>Planet Factory</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/planetFactory">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/moonFactory.png">
            <mat-card-content>
                <mat-card-title>Moon Factory</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/moonFactory">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image src="assets/index/moonGame.png">
            <mat-card-content>
                <mat-card-title>Moon Game</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/moonGame">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/hundredsChart.png">
            <mat-card-content>
                <mat-card-title>Hundreds Chart</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/hundredsChart">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/multiplicationChart.png">
            <mat-card-content>
                <mat-card-title>Multiplication Chart</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/multiplicationChart">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/tenthSquares.png">
            <mat-card-content>
                <mat-card-title>Tenths Squares</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/tenthSquares">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/tradeBlocks.png">
            <mat-card-content>
                <mat-card-title>Trade Blocks</mat-card-title>
                <p>
                    Numbers
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/tradeBlocks">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/decimalsBlocks.png">
            <mat-card-content>
                <mat-card-title>Decimal Blocks</mat-card-title>
                <p>
                    Numbers, Decimals, Base Ten
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/decimalsBlocks">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/hundredsBlocks.png">
            <mat-card-content>
                <mat-card-title>Hundreds Blocks</mat-card-title>
                <p>
                    Numbers, Base Ten
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/hundredsBlocks">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/thousandsBlocks.png">
            <mat-card-content>
                <mat-card-title>Thousands Blocks</mat-card-title>
                <p>
                    Numbers, Base Ten
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/thousandsBlocks">OPEN</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <img mat-card-image class="contain" src="assets/index/integerTiles.png">
            <mat-card-content>
                <mat-card-title>Integer Tiles</mat-card-title>
                <p>
                    Integers, Addition
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/integerTiles">OPEN</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>

</html>