.example-card {
    width: 400px;
    height:400px;
    margin: 10px;
}

.example-card img{
    height: 40vh;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.cardContainer {
    display: flex ;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}