<svg #lowerRenderEl class="lowerRenderEl" id="lowerRenderEl" viewBox="0 0 500 500">
    <g
       id="bar">
      <g
         id="g30433">
        <rect
           style="fill:#92c47d;fill-opacity:1;stroke:none;stroke-width:1.38713;stroke-linejoin:round"
           id="rect1144"
           width="110.97065"
           height="36.990215"
           x="28.058708"
           y="74.492149"
           ry="5"
           rx="5" />
        <text
           xml:space="preserve"
           style="font-weight:bold;font-size:20px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold'"
           x="62.274498"
           y="100.05269"
           id="text17686"><tspan
             sodipodi:role="line"
             id="tspan17684"
             x="62.274498"
             y="100.05269"
             style="font-size:20px">3 + 1</tspan></text>
      </g>
      <g
         id="g30438">
        <rect
           style="fill:#f1c331;fill-opacity:1;stroke:none;stroke-width:1.38713;stroke-linejoin:round"
           id="rect1144-8"
           width="110.97065"
           height="36.990215"
           x="139.02936"
           y="74.492149"
           ry="5"
           rx="5" />
        <text
           xml:space="preserve"
           style="font-weight:bold;font-size:20px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold'"
           x="172.1221"
           y="100.05269"
           id="text17686-9"><tspan
             sodipodi:role="line"
             id="tspan17684-9"
             x="172.1221"
             y="100.05269"
             style="font-size:20px">3 + 2</tspan></text>
      </g>
      <g
         id="g30443">
        <rect
           style="fill:#38cdff;fill-opacity:1;stroke:none;stroke-width:1.38713;stroke-linejoin:round"
           id="rect1144-6"
           width="110.97065"
           height="36.990215"
           x="250"
           y="74.492149"
           ry="5"
           rx="5" />
        <text
           xml:space="preserve"
           style="font-weight:bold;font-size:20px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold'"
           x="283.0195"
           y="100.05269"
           id="text17686-6"><tspan
             sodipodi:role="line"
             id="tspan17684-5"
             x="283.0195"
             y="100.05269"
             style="font-size:20px">3 + 3</tspan></text>
      </g>
      <g
         id="g30448">
        <rect
           style="fill:#e06666;fill-opacity:1;stroke:none;stroke-width:1.38713;stroke-linejoin:round"
           id="rect1144-7"
           width="110.97065"
           height="36.990215"
           x="360.97064"
           y="74.492149"
           ry="5"
           rx="5" />
        <text
           xml:space="preserve"
           style="font-weight:bold;font-size:20px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold'"
           x="394.19034"
           y="100.17476"
           id="text17686-66"><tspan
             sodipodi:role="line"
             id="tspan17684-0"
             x="394.19034"
             y="100.17476"
             style="font-size:20px">2 + 2</tspan></text>
      </g>
    </g>
    <g
       id="dot">
      <circle
         style="fill:#333333;fill-opacity:1;stroke:none;stroke-width:1.875;stroke-linejoin:round"
         id="path846"
         cx="250"
         cy="378.96564"
         r="25" />
      <text
         xml:space="preserve"
         style="font-weight:bold;font-size:32px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold';fill:#f9f9f9"
         x="241.17188"
         y="390.46564"
         id="text27579"><tspan
           sodipodi:role="line"
           id="tspan27577"
           x="241.17188"
           y="390.46564"
           style="font-size:32px;fill:#f9f9f9">4</tspan></text>
    </g>
 </svg>