svg {
    min-width: 300px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.upperRenderEl, .lowerRenderEl {
    width: 50%;
    height: 100%;
}

.lowerRenderEl text{
    user-select: none;
}