svg {
    display: block;
    margin: auto;
    overflow: hidden;
}

.upperRenderEl, .lowerRenderEl {
    max-width: 500px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.upperRenderEl {
    pointer-events: none;
}

text{
    user-select: none;
}