<svg #lowerRenderEl class="lowerRenderEl" id="lowerRenderEl" viewBox="0 0 500 750">
   <g id="bar">
      <g id="currentBar"></g>
      <g id="nextBar"></g>
      <g id="line"></g>
   </g>
   <g
   id="dot">
  <circle
     style="fill:#333333;fill-opacity:1;stroke:none;stroke-width:1.875;stroke-linejoin:round"
     id="path846"
     cx="250"
     cy="675"
     r="25" />
  <text
     xml:space="preserve"
     style="font-weight:bold;font-size:32px;line-height:1.25;font-family:Arial;-inkscape-font-specification:'Arial Bold';fill:#f9f9f9"
     x="250"
     y="686.5"
     id="dotText"><tspan
       sodipodi:role="line"
       id="tspan27577"
       x="250"
       y="686.5"
       style="font-size:32px;fill:#f9f9f9">0</tspan></text>
</g>
</svg>